.root {
    .default-color0.chart-series-line { -fx-stroke: #f44336; }
    .default-color1.chart-series-line { -fx-stroke: #e91e63; }
    .default-color2.chart-series-line { -fx-stroke: #9c27b0; }
.default-color3.chart-series-line { -fx-stroke: #8bc34a; }
.default-color4.chart-series-line { -fx-stroke: #ff9800; }
.default-color5.chart-series-line { -fx-stroke: #ff5722; }
    .default-color6.chart-series-line { -fx-stroke: #03a9f4; }
    .default-color7.chart-series-line { -fx-stroke: #00bcd4; }
    .default-color8.chart-series-line { -fx-stroke: #009688; }
    .default-color9.chart-series-line { -fx-stroke: #4caf50; }
    .default-color11.chart-series-line { -fx-stroke: #ffc107; }
}