body {
    background-color: #E0E0E0;
}

body > .container {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #fafafa;
    -moz-box-shadow: 0px 0px 10px 2px #c0c0c0;
    -webkit-box-shadow: 0px 0px 10px 2px #c0c0c0;
    -o-box-shadow: 0px 0px 10px 2px #c0c0c0;
    box-shadow: 0px 0px 10px 2px #c0c0c0;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=NaN, Strength=10);
}

.header > * {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 128px;
    background-color: #512DA8;
    color: #F5F5F5;
    font-size: 48px;
}
.language-container {
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 3%;
    padding-right: 0;
    line-height: 12pt;
}
.language-container > a {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    padding-top: 1vh;
}
.language-image {
    filter: grayscale(100%);
    border-radius: 60%;
    height: 50%;
    width: 50%;
    overflow: hidden;
    transition: 0.2s;
}
.language-image:hover {
    filter: grayscale(0%);
}
.row:not(:first-child):not(:last-child) {
    margin: 2% 1% 2% 1%;
    border: 0.35em solid #BDBDBD;
}
footer {
    padding-top: 2vh;
    padding-bottom: 2vh;
    min-height: 128px;
    background-color: #512DA8;
    color: #F5F5F5;
    font-size: 20px;
}
.footer .row a {
    text-decoration: underline;
    color: #F5F5F5;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
    padding-top: 1vh;
}
.footer a:hover {
    color: #E65100;
}
.smallitem {
    font-size: 16px;
    align-items: flex-end;
    margin-top: 16px;
}
.smallitem * {
    font-size: 16px;
}
.footer ul {
    font-size: 16px;
    list-style-type: none;
    margin: 0;
    padding: 10px 0 0;
}
.gitlab-img {
    height: 32px;
    width: 100%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
}
.gitlab-img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
}

.text-block {
    background: #29B6F6;
    color: #F5F5F5;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-size: 12pt;

}
.text-block .part-title {
    text-align: center;
    padding-bottom: 1vw;
    font-size: 14pt;
}
.img-container {
    height: auto;
}
img {
    width:100%;
    height: 100%;
    object-fit: contain;
}

